.Seccion1-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  padding: 30px;
}

.row-porque-fiter {
  display: flex;
  flex-direction: column;
  flex:1.5;
  align-items: center;
  justify-content: center;
}

.row-seccion1 {
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.y-de-tu-presupuesto{
  display: flex;
}


.row-style {
  font-family: TeXGyreHeros, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #00b6cd;
}

.row-style .text-style-1 {
  font-weight: bold;
  color: #ffd900;
}

.modo-fiter{
  display: flex;
}

.mas-cerca-de-vos{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Oval-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  border: solid 3px #00b6cd;
  margin-bottom: 25px;
}

.text-inline {
  font-weight: bold;
  color: #ffd900;
  display: inline
}

.Por-qu-fiter {
  height: 50px;
  font-family: TeXGyreHeros, sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #00b6cd;
  margin-top: 10px;
  margin-bottom: 15px;
}

.Por-qu-fiter .text-style-1 {
  color: #00b6cd;
}

.Rectangle2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 289px;
  height: 48px;
  border-radius: 3px;
  background-color: #ffda03;
}

.CONOCENOS {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 26px;
  font-family: TeXGyreHeros, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ec0b70;
}

@media (max-width:480px) {
  .Seccion1-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }

  .row-seccion1{
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .Oval-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: solid 3px #00b6cd;
    margin-bottom: 25px;
  }

  .row-porque-fiter {
    display: flex;
    flex-direction: column;
    flex:1.5;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .mas-cerca-de-vos{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .y-de-tu-presupuesto{
    display: flex;
  }

}


