.Seccion2-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 35px;
}

.title-container-s2{
  display: flex;
}

.row-container-s2{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.Rectangle-5-Copy-5 {

  width: 253px;
  height: 108px;
  border-radius: 4px;
  background-color: #95c543;
}

.Rectangle-5-Copy-6 {

  width: 253px;
  height: 108px;
  border-radius: 4px;
  background-color: #f05a22;
}

.Rectangle-5-Copy-7 {

  width: 253px;
  height: 108px;
  border-radius: 4px;
  background-color: #7d2a8f;
}

.Rectangle-5-Copy-8 {

  width: 253px;
  height: 108px;
  border-radius: 4px;
  background-color: #10c3d9;
}

.Rectangle-5-Copy-9 {

  width: 253px;
  height: 108px;
  border-radius: 4px;
  background-color: #ffbc38;
}

.text-style-s2 {
  position: absolute;
  width: 167px;
  height: 42px;
  font-family: TeXGyreHeros, sans-serif;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 15px;

}

.Conoc-nuestras-clas {
  flex: 2;
  display: flex;
  font-family: TeXGyreHeros, sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #00b6cd;
}

.Ver-todas-las-clases {
  font-family: TeXGyreHeros, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ed2780;
}

.line{
  border-top: 1px solid #ed2780;
}

.icon-arrow {
  position: absolute;
  width: 41px;
  height: 41px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  margin-left: 230px;
  margin-top: 30px;
  color: #8f8f8f;
  border-radius: 50%;
}

@media (max-width:480px) {
  .Conoc-nuestras-clas {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-family: TeXGyreHeros, sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    color: #00b6cd;
  }
}